body {
  /* background-image: url("../photos/Bg.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: 100%;
   */
  background-color: #C1DABE;
  font-family: Verdana, sans-serif;
  display: block;
}

.header-nav-bar {
  background-color: rgb(254, 249, 239);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fef9ef;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 10;
  display: flex;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: #545454;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  /* background-color: #111; */
}

li a:visited {
  text-decoration: none;
}

.active {
  background-color: #c1dabe;
}

.logo {
  float: left;
  margin-right: 20px;
  height: 50px;
  width: 200px;
  background-image: url("../photos/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.form-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100vw;
  height: 850px;
}


#signUpForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  background-color: #f9f9f9;
}

#signUpForm h2 {
  text-align: center;
  color: #545454;
}

#signUpForm sub {
  display: block;
  text-align: center;
  color: #545454;
}

#signUpForm label {
  display: block;
  margin-bottom: 5px;
  color: #545454;
}

#signUpForm input[type="text"],
#signUpForm input[type="email"],
#signUpForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
  background-color: #F1F1F1;
  padding-left: 45px;
}

/* Style for the button */
#signUpForm input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28acec;
  color: #fff;
  cursor: pointer;
}

/* Style for the paragraph below the form */
#signUpForm p {
  margin-top: 10px;
}

/* Style for the link within the paragraph */
#signUpForm p a {
  color: #28acec;
  text-decoration: none;
}

/* Style for the button that toggles password visibility */
.show-password-btn {
  padding: 5px 10px;
  background-color: #F1F1F1;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

/* Style for the container of password input and toggle button */
.input-container {
  position: relative;
}

/* Adjusting the position of the toggle button */
.show-password-btn {
  position: absolute;
  top: 45%;
  right: 8px;
  transform: translateY(-50%);
}

.icon {
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  background-size: 50px 22px;

  &.user {
    background-image: url(../photos/user-solid.svg);
  }

  &.email {
    background-image: url(../photos/envelope-solid.svg);
  }

  &.password {
    background-image: url(../photos/key-solid.svg);
  }
}

i.icon {
  margin-left: -30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  background-size: 50px 22px;
  display: block;
  height: 20px;
  width: 38px;

  &.eye {
    background-image: url(../photos/eye-solid.svg);
  }

  &.eye-slash {
    background-image: url(../photos/eye-slash-solid.svg);
  }
}
/* The Modal (background) */ .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}
