body {
  /* background-image: url("../photos/Bg.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: 100%; */
  background-color: #C1DABE;
  font-family: Verdana, sans-serif;
  display: block;
  height: 100%;
  overflow-y: auto;
}

.header-nav-bar {
  background-color: rgb(254, 249, 239);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fef9ef;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 10px;
  display: flex;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: #545454;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* li a:hover {
   background-color: #111; } */

li a:visited {
  text-decoration: none;
}

.active {
  background-color: #c1dabe;
}

.logo {
  float: left;
  margin-right: 20px;
  height: 50px;
  width: 200px;
  background-image: url("../photos/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  padding: 16px;
  width: 1200px;
  background-color: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.card-content {
  padding: 16px;
}

.output-container {
  width: 100%;
  margin-top: 20px;
}

/* styles for the calendar */
#calendar {
  margin: 0 auto;
  text-align: center;
  font-size: small;
  display: grid;
  grid-gap: 0;
  table-layout: auto;
  width: 70%;
  padding-left: 8vh;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  padding: 20px 0;
  display: grid;
}

#month {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#days-of-week, #days {
  display: flex;
  flex-wrap: wrap;
  grid-auto-columns: auto;
}

#days-of-week div, #days div {
  width: 14.28%;
  height: 50px;
  padding: 10px 0;
  table-layout: auto;
  border: 1px solid #000000;
  box-sizing: border-box; 
}

#days div {
  cursor: pointer;
}

#days div:hover {
  background-color: #f0f0f0;
}

/* styles for the popup */
#addEventPopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#popupBackground {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.event {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
/* Responsive design */
@media (max-width: 1200px) {
  section {
      margin: 20px;
      padding: 15px;
  }
  
  ul li a img {
      width: 90px;
      height: 90px;
  }
  
  ul li a {
      padding: 15px;
  }
}

@media (max-width: 768px) {
  ul li {
      flex: 1 1 150px;
  }
  
  ul li a img {
      width: 80px;
      height: 80px;
  }
  
  ul li a span {
      font-size: 1em;
  }
}

@media (max-width: 480px) {
  ul li {
      flex: 1 1 100%;
  }
  
  ul li a img {
      width: 70px;
      height: 70px;
  }
  
  ul li a {
      padding: 10px;
  }
  
  ul li a span {
      font-size: 0.9em;
  }
}